nodered/flows_thread_sensors.json
[
    {
        "id": "tab_thread",
        "type": "tab",
        "label": "Thread Sensors",
        "disabled": false,
        "info": "Hub registry + sensor state → debug/Influx"
    },
    {
        "id": "mqtt_broker",
        "type": "mqtt-broker",
        "name": "Mosquitto",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "nodered-thread",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true
    },
    {
        "id": "in_home",
        "type": "mqtt in",
        "z": "tab_thread",
        "name": "home/#",
        "topic": "home/#",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 120,
        "wires": [["switch_leaf"]]
    },
    {
        "id": "switch_leaf",
        "type": "switch",
        "z": "tab_thread",
        "name": "by topic",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {"t": "cont", "v": "/registry", "vt": "str"},
            {"t": "cont", "v": "/event", "vt": "str"},
            {"t": "cont", "v": "/state", "vt": "str"},
            {"t": "cont", "v": "/status", "vt": "str"}
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 4,
        "x": 310,
        "y": 120,
        "wires": [["dbg_reg"], ["dbg_evt"], ["parse_state"], ["dbg_status"]]
    },
    {
        "id": "parse_state",
        "type": "function",
        "z": "tab_thread",
        "name": "parse state → influx",
        "func": "let p = msg.payload;\nif (typeof p === 'string') {\n    try { p = JSON.parse(p); } catch(e) { return null; }\n}\nif (!p || !p.type) return null;\nconst parts = msg.topic.split('/');\n// home / room / id / state\nconst room = parts[1] || 'unassigned';\nconst id = parts[2] || 'unknown';\nmsg.device_id = id;\nmsg.room = room;\nif (p.type === 'temp_hum') {\n    msg.measurement = 'temp_hum';\n    msg.payload = [\n        { measurement: 'temp_hum', tags: { device_id: id, room: room }, fields: { t: Number(p.t), h: Number(p.h), bat: Number(p.bat||0) } }\n    ];\n    return [msg, null];\n}\nif (p.type === 'contact') {\n    msg.measurement = 'contact';\n    msg.open = p.contact === 'open' ? 1 : 0;\n    msg.payload = [\n        { measurement: 'contact', tags: { device_id: id, room: room }, fields: { open: msg.open, bat: Number(p.bat||0) } }\n    ];\n    const warn = p.contact === 'open' ? { payload: `OPEN ${room}/${id}`, topic: msg.topic } : null;\n    return [msg, warn];\n}\nreturn null;",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 160,
        "wires": [["dbg_state"], ["dbg_open"]]
    },
    {
        "id": "dbg_reg",
        "type": "debug",
        "z": "tab_thread",
        "name": "registry",
        "active": true,
        "tosidebar": true,
        "complete": "payload",
        "x": 530,
        "y": 40,
        "wires": []
    },
    {
        "id": "dbg_evt",
        "type": "debug",
        "z": "tab_thread",
        "name": "hub event",
        "active": true,
        "tosidebar": true,
        "complete": "payload",
        "x": 530,
        "y": 80,
        "wires": []
    },
    {
        "id": "dbg_status",
        "type": "debug",
        "z": "tab_thread",
        "name": "status",
        "active": false,
        "tosidebar": true,
        "complete": "true",
        "x": 530,
        "y": 220,
        "wires": []
    },
    {
        "id": "dbg_state",
        "type": "debug",
        "z": "tab_thread",
        "name": "influx points",
        "active": true,
        "tosidebar": true,
        "complete": "payload",
        "x": 750,
        "y": 140,
        "wires": []
    },
    {
        "id": "dbg_open",
        "type": "debug",
        "z": "tab_thread",
        "name": "contact open",
        "active": true,
        "tosidebar": true,
        "complete": "payload",
        "x": 750,
        "y": 200,
        "wires": []
    }
]
